{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016–2017, Julian Motz
 * All Rights Reserved
 *******************************************************/
--}}

{{#each collections}}
    <section>
        <a id="{{anchor metadata.name}}"></a>
        <h2>{{inc @index}}. {{metadata.name}}</h2>
        {{resetCounter}}
        {{#each this}}
            <article>
                {{#ifNotFalse heading}}
                    <a id="{{anchor title}}"></a>
                    <h3>{{inc @../index}}.{{incrementCounter}} {{title}}</h3>
                {{/ifNotFalse}}
                {{{contents}}}
            </article>
        {{/each}}
    </section>
{{/each}}
