{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016–2017, Julian Motz
 * All Rights Reserved
 *******************************************************/
--}}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-inner">
                            <p>
                                &copy;
                                <script>
                                    var startYear = 2016;
                                    var year = new Date().getFullYear();
                                    document.write(year > startYear ? startYear + "–" + year: year);
                                </script>,
                                <a href="{{{pkg.contributors.0.url}}}">{{{pkg.contributors.0.name}}}</a>.
                                All rights reserved. <br> The plugin {{{defaults.title}}} itself is licensed under
                                <a href="{{{defaults.license}}}">the {{{defaults.licenseName}}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-inner">
                            <div class="github-buttons">
                                {{> gh-star}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="downloadModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Download {{defaults.title}}</h4>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">If {{defaults.title}} made you happy then give a thanks with a star.<p>
                    {{> gh-star}}
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary pull-left" data-action="download">Download</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <noscript>
        <div class="noscript">
            Please activate JavaScript in order to use all features of this website!
        </div>
    </noscript>
    <script src="vendor/requirejs/require.js" data-main="src/app/main" async></script>
</body>
</html>
