{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016, Julian Motz. All Rights Reserved.
 *******************************************************/
--}}

<ul class="nav nav-pills nav-stacked">
    {{#each collections}}
        <li>
            <a href="#{{anchor metadata.name}}">{{inc @index}}. {{metadata.name}}</a>
            {{#ifArticlesWithHeading this}}
                <ul class="nav">
                {{#each this}}
                    {{#ifNotFalse heading}}
                        <li><a href="#{{anchor title}}">{{inc @../index}}.{{inc @index}} {{{title}}}</a></li>
                    {{/ifNotFalse}}
                {{/each}}
                </ul>
            {{/ifArticlesWithHeading}}
        </li>
    {{/each}}
</ul>
